<!DOCTYPE html>
<html>
<head>
    <title>Деятельности Библиотеки</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% include "header.html" %}
    <h1 class="container" align="center" id="home">Деятельности библиотека</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                {% for n in news %}
                <u style="font-size: 24px;"><strong>{{ n.title }}</strong></u>
                <p style="font-size: 18px;">{{ n.date }} </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>